@font-face {
  font-family: "Moonet";
  font-style: "normal";
  src: url("/fonts/moonet.otf") format("opentype");
}

:root {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #c9c9c9;
}

body {
  background-color: #1b181d;
}
